In [1]:
import os
os.chdir("C:\\Users\\arun\\Downloads")

In [2]:
import pandas as pd
import seaborn as sns
import numpy as np

In [4]:
d=pd.read_csv('insurance.csv')
d

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [4]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
d.loc[:,['smoker']]=le.fit_transform(d.loc[:,['smoker']])
d.loc[:,['sex']]=le.fit_transform(d.loc[:,['sex']])
d.loc[:,['region']]=le.fit_transform(d.loc[:,['region']])

C:\Users\arun\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [5]:
d

      age  sex     bmi  children  smoker  region      charges
0      19    0  27.900         0       1       3  16884.92400
1      18    1  33.770         1       0       2   1725.55230
2      28    1  33.000         3       0       2   4449.46200
3      33    1  22.705         0       0       1  21984.47061
4      32    1  28.880         0       0       1   3866.85520
...   ...  ...     ...       ...     ...     ...          ...
1333   50    1  30.970         3       0       1  10600.54830
1334   18    0  31.920         0       0       0   2205.98080
1335   18    0  36.850         0       0       2   1629.83350
1336   21    0  25.800         0       0       3   2007.94500
1337   61    0  29.070         0       1       1  29141.36030

[1338 rows x 7 columns]

In [6]:
X=d[['age', 'sex', 'bmi', 'children', 'smoker','region']]

In [7]:
y=d[['charges']]

In [8]:
from scipy.stats import shapiro
shapiro(y)

ShapiroResult(statistic=0.814687967300415, pvalue=1.150477698013898e-36)

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [10]:
from pycaret.regression import *

In [11]:
reg=setup(data=d,target='charges')

In [12]:
compare_models()

GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=4114, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [13]:
from sklearn.ensemble import GradientBoostingRegressor

In [14]:
gb = GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=6846, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [15]:
gb.fit(X_train,y_train)

GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=6846, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [16]:
predict=gb.predict(X_train)

In [17]:
predict1=gb.predict(X_test)

In [18]:
from sklearn.metrics import mean_squared_error
rmsetrain=np.sqrt(mean_squared_error(predict,y_train))
rmsetrain

3724.318777115641

In [19]:
from sklearn.metrics import r2_score

In [20]:
r2_score(predict,y_train)

0.8907099074657319

In [21]:
r2_score(predict1,y_test)

0.8607329218564901

In [19]:
X

      age  sex     bmi  children  smoker  region
0      19    0  27.900         0       1       3
1      18    1  33.770         1       0       2
2      28    1  33.000         3       0       2
3      33    1  22.705         0       0       1
4      32    1  28.880         0       0       1
...   ...  ...     ...       ...     ...     ...
1333   50    1  30.970         3       0       1
1334   18    0  31.920         0       0       0
1335   18    0  36.850         0       0       2
1336   21    0  25.800         0       0       3
1337   61    0  29.070         0       1       1

[1338 rows x 6 columns]

## Predicting the Insurance Charges

In [25]:
gb.predict([[26,0,28,1,0,2]])

array([5550.28845892])

## Pickling The Model For Deployment

In [21]:
import pickle
pickle_out= open("gb.pkl","wb")
pickle.dump(gb,pickle_out)
pickle_out.close()

In [26]:
from sklearn.ensemble import RandomForestRegressor

In [30]:
rf= RandomForestRegressor(
    n_estimators=100,
    criterion='mse',
    max_depth=None,
    min_samples_split=2,
    min_samples_leaf=1,
    min_weight_fraction_leaf=0.0,
    max_features='auto',
    max_leaf_nodes=None,
    min_impurity_decrease=0.0,
    min_impurity_split=None,
    bootstrap=True,
    oob_score=False,
    n_jobs=None,
    random_state=None,
    verbose=0,
    warm_start=False,
    ccp_alpha=0.0,
    max_samples=None
)

In [31]:
rf.fit(X_train,y_train)

<ipython-input-31-d6d9475b85dc>:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf.fit(X_train,y_train)

RandomForestRegressor()

In [32]:
import pickle
pickle_out= open("rf.pkl","wb")
pickle.dump(rf,pickle_out)
pickle_out.close()

In [33]:
predictt=rf.predict(X_train)

In [34]:
predicttt=rf.predict(X_test)

In [35]:
r2_score(predictt,y_train)

0.9736487987265409

In [37]:
r2_score(predicttt,y_test)

0.8490775573287843